{% extends "website/base_dashboard.html" %}

{% load staticfiles %}


{% block main-content %}
<h2>应用监控信息</h2>
<hr>

<div id="app-monitor">
    <div class="monitor-option">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">用户</label>
                    <select class="form-control" id="user-option">
                        <option value="0">-------------</option>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">项目</label>
                    <select class="form-control" id="project-option">
                        <option value="0">-------------</option>
                        <option value="1">-adsfasdf</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">应用</label>
                    <select class="form-control" id="app-option">
                        <option value="0">-------------</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">容器</label>
                    <select class="form-control" id="container-option">
                        <option value="0">-------------</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group monitor-show">
        <iframe class="col-sm-6 mem-show"></iframe>
        <iframe class="col-sm-6 cpu-show"></iframe>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/app_monitor.js' %}"></script>
{% endblock %}
