{% extends "website/base_project.html" %}

{% load staticfiles %}

{% block subposition %}
>> <a href="{% url 'list-applications' pid=project.id %}"><i class="fa fa-th"></i> 应用空间</a>
>> {{ application.name }}
{% endblock %}

{% block main-content %}
<div class="application-details">
    <ul class="nav nav-tabs">
        <li class="active"><a data-id="info">基本信息</a></li>
        <li><a data-id="port">端口映射</a></li>
        <li><a data-id="volume">存储卷</a></li>
        <li><a data-id="logs">日志管理</a></li>
        <li><a data-id="monitor">监控信息</a></li>
    </ul>
    <hr>
    <div class="tab-content">
        <!-- 基本信息　-->
        <div id="info" class="tab-pane fade in active">
            <table class="table w50">
                <tbody>
                    <tr>
                        <td colspan="2"> <b>应用名称：</b> {{ application.name }}</td>

                    </tr>
                    <tr>
                        <td colspan="2"> <b>镜像：</b> <a href="{% url 'show-image-detail' pid=project.id iid=image.id %}">{{ image.name }}</a></td>
                    </tr>
                    <tr>
                        <td> <b>CPU：</b> {{ resource_limit.cpu }}{{ resource_limit.cpu_unit }}</td>
                        <td> <b>Mem：</b> {{ resource_limit.memory }}{{ resource_limit.memory_unit }}</td>
                    </tr>
                    <tr>
                        <td> <b>副本数：</b> {{ application.replicas }}</td>
                        <td> <b>Session关联：</b>
                        {% if application.session_affinity %}
                        是
                        {% else %}
                        否
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td> <b>应用状态：</b>{{ application.status }}</td>
                        <td> <b>创建时间：</b>{{ application.create_time }}</td>
                    </tr>
                    <tr>
                        <td> <b>内部地址：</b>{{ application.internal_ip }}</td>
                        <td> <b>内部域名：</b>{{ application.internal_name }}</td>
                    </tr>
                    <tr>
                        <td> <b>外部地址：</b>{{ application.external_ip }}</td>
                        <td> <b>外部域名：</b>{{ application.external_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 端口映射 -->
        <div id="port" class="tab-pane fade">
            <div class="table-responsive resource-lists">
                <table class="table">
                    <thead>
                        <tr>
                            <th>端口名</th>
                            <th>协议</th>
                            <th>内部端口</th>
                            <th>外部端口</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for port in ports %}
                        <tr>
                            <td>{{ port.name }}</td>
                            <td>{{ port.protocol }}</td>
                            <td>{{ port.internal_port }}</td>
                            <td>{{ port.external_port }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 存储卷 -->
        <div id="volume" class="tab-pane fade">
            <div class="table-responsive resource-lists">
                <table class="table">
                    <thead>
                        <tr>
                            <th>卷名</th>
                            <th>挂载目录</th>
                            <th>容量</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for volume in volumes %}
                        <tr onclick="show_volume(this);">
                            <input type="hidden" name="vid" value="{{ volume.id }}">
                            <td>{{ volume.name }}</td>
                            <td>{{ volume.mount_path }}</td>
                            <td>{{ volume.capacity }}{{ volume.capacity_unit }}</td>
                            <td>{{ volume.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 日志管理 -->
        <div id="logs" class="tab-pane fade">
            <div class="logs-option">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <select class="form-control pod-name" name="pod_name">
                                {% for pod in pods %}
                                    <option value="{{ pod }}">{{ pod }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control tail-number" name="tail">
                                <option value="10">10行</option>
                                <option value="20" selected="selected">20行</option>
                                <option value="30">30行</option>
                                <option value="50">50行</option>
                                <option value="100">100行</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <textarea class="col-sm-12 logs-show" readonly>{{ logs }}</textarea>
        </div>

        <!-- 监控信息 -->
        <div id="monitor" class="tab-pane fade">
            <div class="monitor-option">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <select class="form-control pod-name" name="pod_name">
                                {% for pod in pods %}
                                    <option value="{{ pod }}">{{ pod }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-success refresh">
                                <i class="fa fa-refresh"></i>
                                <span>刷新</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group monitor-show">
                <iframe class="col-sm-6 mem-show" src="{{ mem_url }}"></iframe>
                <iframe class="col-sm-6 cpu-show" src="{{ cpu_url }}"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/application.js' %}"></script>
{% endblock %}
