{% extends "website/base_home.html" %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="sidebar-offcanvas" id="sidebar" role="navigation">

        <ul class="nav nav-sidebar">
            <li class="dashboard" onclick="show_dashboard()">
                <a>
                    <i class="fa fa-home fa-2x"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="project-intro" onclick="show_introduction()">
                <a>
                    <i class="fa fa-list-alt fa-2x"></i>
                    <p>项目介绍</p>
                </a>
            </li>
            {% if is_staff %}
            <li class="user-permission" onclick="show_user_permission()">
                <a>
                    <i class="fa fa-user fa-2x"></i>
                    <p>用户权限</p>
                </a>
            </li>
            {% else %}
            <li class="image-space" onclick="show_images()">
                <a>
                    <i class="fa fa-align-justify fa-2x"></i>
                    <p>镜像空间</p>
                </a>
            </li>
            <li class="application-space" onclick="show_applications()">
                <a>
                    <i class="fa fa-th fa-2x"></i>
                    <p>应用空间</p>
                </a>
            </li>
            <li class="volume-space" onclick="show_volumes()">
                <a>
                    <i class="fa fa-floppy-o fa-2x"></i>
                    <p>存储卷</p>
                </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="main">
        <div class="position-nav">
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Dashboard</a>
            >> <a href="{% url 'introduce-project' pid=project.id %}">{{ project.name }}</a>
            {% block subposition %}{% endblock %}
            <div class="clearfix"></div>
        </div>
        <hr>

        {% block main-content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'website/js/base_home.js' %}"></script>
{% endblock %}
