{% extends "website/base_home.html" %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="sidebar-offcanvas" id="sidebar" role="navigation">

        <ul class="nav nav-sidebar">
            <li onclick="show_home()">
                <a>
                    <i class="fa fa-home fa-2x"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="project-intro" onclick="show_introduction()">
                <a>
                    <i class="fa fa-user fa-2x"></i>
                    <p>项目介绍</p>
                </a>
            </li>
            <li class="image-space" onclick="show_images()">
                <a>
                    <i class="fa fa-list fa-2x"></i>
                    <p>镜像空间</p>
                </a>
            </li>
            <li class="application-space" onclick="show_applications()">
                <a>
                    <i class="fa fa-image fa-2x"></i>
                    <p>应用空间</p>
                </a>
            </li>
            <li class="volume-space" onclick="show_volumes()">
                <a>
                    <i class="fa fa-graduation-cap fa-2x"></i>
                    <p>卷空间</p>
                </a>
            </li>
            <li class="public-image" onclick="show_publics()">
                <a>
                    <i class="fa fa-navicon fa-2x"></i>
                    <p>公共镜像</p>
                </a>
            </li>
        </ul>
      </div>
    </div>
</div>

<div class="container-fluid container-content">
    <div class="main">
        {% block main-content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'website/js/base_project.js' %}"></script>
{% endblock %}
