{% extends "website/base_home.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid container-content">
    <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 main">
        <div class="simple-nav">
            <div class="col-sm-2 col-md-2 text-center">
                <div class="nav-item nav-item-active" id="project">
                项  目
                </div>
            </div>
            <div class="col-sm-2 col-md-2 text-center" >
                <div class="nav-item" id="image">
                公共镜像
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="project-part page">
            <!-- Projects show-->
            <div class="table-responsive  all-project">
                <table class="table">
                    <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>简单描述</th>
                            <th>创建时间</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.desc|truncatechars:20 }}</td>
                            <td>{{ project.create_time }}</td>
                            <td>
                            <form action="{% url 'delete-project' %}" method="post">
                                <input type="hidden" name="project_id" value="{{ project.id }}">
                                <input class="btn btn-xs btn-danger" type="submit
                                " value="删除">
                            </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <hr>

            <!-- Create project -->
            <h2>创建项目</h2>

            <div class="create-project">
                <form action="{% url 'create-project' %}" method="post" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="peojectName" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="peojectName" name="name" maxlength="32" placeholder="项目名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">项目描述</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="description" name="desc" maxlength="256" placeholder="项目描述"></textarea>
                        </div>
                    </div>

                    <div class="form-group last-btns">
                        <div class="col-sm-1 col-sm-offset-2">
                            <button type="submit" class="btn btn-info">创建</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="image-part page notshow">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Image_picture</th>
                            <th>Name </th>
                            <th>Version</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="common-images" src="{% static 'website/img/logo.png' %}"  width="100px" height="40px"></td>
                            <td>Docker</td>
                            <td>1.0</td>
                            <td><a class="btn btn-xs btn-info">详细信息</a></td>
                        </tr>
                        <tr>
                            <td><img class="common-images" src="{% static 'website/img/logo.png' %}"  width="100px" height="40px"></td>
                            <td>Docker</td>
                            <td>1.0</td>
                            <td><a href="#" class="btn btn-xs btn-info detail-btn">详细信息</a></td>
                        </tr>
                        <tr>
                            <td>1,001</td>
                            <td>A</td>
                            <td>OK</td>
                            <td>公共镜像库</td>
                            <td>Now</td>
                            <td>1</td>
                            <td>Nothing</td>
                            <td><a class="btn btn-xs btn-danger">删除</a><a class="btn btn-xs btn-info">创建应用</a><a class="btn btn-xs btn-info">导出</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <a href="#" class="btn btn-sm btn-info">
            添加到项目
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/home.js' %}"></script>
{% endblock %}
