{% extends "website/base_project.html" %}

{% load staticfiles %}

{% block subposition %}
>> <a href="{% url 'list-images' pid=project.id %}"><i class="fa fa-list-alt"></i> 镜像空间</a>
>> {{ image.name }}
{% endblock %}

{% block main-content %}
<h2 class="page-header">镜像信息</h2>
<table class="table w50">
    <tbody>
        <tr>
            <td> <b>镜像名称：</b> {{ image.name }}</td>
            <td> <b>镜像版本：</b> {{ image.version }}</td>
        </tr>
        <tr>
            <td> <b>镜像状态：</b> {{ image.status }}</td>
            <td> <b>创建时间：</b> {{ image.create_time }}</td>
        </tr>
        <tr>
            <td colspan="2"> <b>Token：</b> {{ image.token }}</td>
        </tr>
        <tr>
            <td colspan="2"> <b>Digest：</b> {{ image.digest }}</td>
        </tr>
        <tr>
            <td colspan="2"> <b>镜像说明：</b> {{ image.desc }}</td>
        </tr>
    </tbody>
</table>

<hr>

<h2 class="page-header">创建应用</h2>
<form class="form-horizontal app-create">
    <input type="hidden" name="image" value={{ image.id }}>

    <div class="form-group">
        <label for="appname" class="col-sm-2 control-label">应用名称</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="appname" name="name" maxlength="32" placeholder="应用名称">
        </div>
    </div>

    <div class="form-group">
        <label for="replicas" class="col-sm-2 control-label">副本数</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="replicas" name="replicas" placeholder="副本数" onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
    </div>

    <div class="form-group">
        <label for="service_type" class="col-sm-2 control-label">服务类型</label>
        <div class="col-sm-2">
            <select class="form-control" id="service_type" name="service_type">
                <option value="false">私有服务</option>
                <option value="true">公共服务</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="session_affinity" class="col-sm-2 control-label">Session关联</label>
        <div class="col-sm-2">
            <select class="form-control" id="session_affinity" name="session_affinity">
                <option value="false">否</option>
                <option value="true">是</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="resource_limit" class="col-sm-2 control-label">资源类型</label>
        <div class="col-sm-4">
            <select class="form-control" id="resource_limit" name="resource_limit">
                {% for limit in resource_limits %}
                    <option value="{{ limit.id }}">CPU: {{ limit.cpu }}{{ limit.cpu_unit }} / Mem: {{ limit.memory }}{{ limit.memory_unit }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">环境变量</label>
        <input type="hidden" id="env-number" name="env_number" value="0">
        <table class="col-sm-6">
            <tbody id="env-table">
                <!-- <tr>
                    <td  class="col-sm-1">
                        <input type="text" class="form-control" name="env_name_0" placeholder="键">
                    </td>
                    <td class="col-sm-1">
                        <input type="text" class="form-control" name="env_value_0" placeholder="值">
                    </td>
                </tr> -->
            </tbody>
        </table>
        <div>
            <input type="button" id="env-add" class="btn btn-info" value="添加">
            <input type="button" id="env-del" class="btn btn-info" value="删除">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">开放端口</label>
        <input type="hidden" id="port-number" name="port_number" value="0">
        <table class="col-sm-6">
            <tbody id="port-table">
                <!-- <tr>
                    <td  class="col-sm-1">
                        <input type="text" class="form-control" name="port_name_0" placeholder="端口名">
                    </td>
                    <td class="col-sm-1">
                        <input type="text" class="form-control" name="port_value_0" placeholder="端口号">
                    </td>
                    <td class="col-sm-1">
                        <select class="form-control" name="port_protocol_0">
                            <option value="TCP">TCP</option>
                            <option value="UDP">UDP</option>
                        </select>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <div>
            <input type="button" id="port-add" class="btn btn-info" value="添加">
            <input type="button" id="port-del" class="btn btn-info" value="删除">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">挂载卷</label>
        <input type="hidden" id="volume-number" name="volume_number" value="0">
        <input type="hidden" id="volumes" value="{{ volumes }}">
        <table class="col-sm-6">
            <tbody id="volume-table">
                <!-- <tr id="volume_0">
                    <td class="col-sm-1">
                        <select class="form-control" name="volume_name_0">
                            {% for volume in volumes %}
                                <option value="{{ volume.id }}">{{ volume.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td  class="col-sm-1">
                        <input type="text" class="form-control" name="volume_path_0" placeholder="挂载目录">
                    </td>
                </tr> -->
            </tbody>
        </table>
        <div>
            <input type="button" id="volume-add" class="btn btn-info" value="添加">
            <input type="button" id="volume-del" class="btn btn-info" value="删除">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <input type="button" class="btn btn-info submit" value="  创　建 ">
            <p class="submit-notice"></p>
        </div>
    </div>

</form>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/image.js' %}"></script>
{% endblock %}
