{% extends "website/base_index.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid container-content">
    <div class="main">
        <h1 class="page-header">基于kubernetes 的 Docker 生产环境</h1>
        <p class="introduction"><strong>kubernetes:</strong>&nbsp;Google开源的容器集群编排管理系统，该平台基于K8S系统实现
          容器化服务。Google开源的容器集群编排管理系统，该平台基于K8S系统实现
          容器化服务。Google开源的容器集群编排管理系统，该平台基于K8S系统实现
          容器化服务。
          <hr>
        </p>

        <h2>主要服务:</h2>
        <div class="col-sm-4 col-md-4">
            <a href="#" class="server-item">
                <h3>镜像托管</h3>
            </a>
            <p>通过两种方式实现镜像托管：一种是直接上传镜像文件，一种是提供github地址然后镜像构建托管到镜像仓库。</p>
        </div>

        <div class="col-sm-4 col-md-4">
            <a href="#" class="server-item">
                <h3>应用部署</h3>
            </a>
            <p>对上传的镜像进行一键部署</p>
        </div>


        <div class="col-sm-4 col-md-4">
            <a href="#" class="server-item">
                <h3>日志与监控</h3>
            </a>
            <p>对上传的镜像进行一键部署</p>
        </div>

        <div class="clearfix"></div>
        <hr>

        <h2>平台优势:</h2>
        <div class="col-sm-4 col-md-4">
            <h3>镜像管理</h3>
            <p>对上传的镜像进行一键部署</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <h3>应用部署</h3>
            <p>对上传的镜像进行一键部署</p>
        </div>

        <div class="col-sm-4 col-md-4">
            <h3>日志与监控</h3>
            <p>对上传的镜像进行一键部署</p>
        </div>
    </div>
</div><!--/.container-->


<div class=" center-box login-area notshow">
    <div class="set-width">
        <div class="box-body login-body">
            <div class="common-title text-center">
                登录
            </div>
            <div class="common-content login-content">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                </span>
                                <input type="text" id="username" name="username" class="form-control" placeholder="用户名">
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                </span>
                                <input type="password" id="password" name="password" class="form-control" placeholder="密码">
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-xs-4 col-xs-offset-5">
                            <button type="submit" class="btn btn-sm btn-info">
                                登录
                            </button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </form>
            </div>

            <!-- <a href="#" class="go go-register">
                注册
            </a> -->
        </div>
    </div>
</div>

<!-- <div class="center-box register-area notshow">
    <div class="set-width">
        <div class="box-body register-body">
            <div class="common-title text-center">
                注册
            </div>
            <div class="common-content register-content">
                <form action="{% url 'registry' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                </span>
                                <input type="text" id="username" name="username" class="form-control" placeholder="用户名">
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                </span>
                                <input type="password" id="password1" name="password1" class="form-control" placeholder="密码">
                            </div>
                        </div>
                    <div style="clear:both;"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                </span>
                                <input type="password" id="password2" name="password2" class="form-control" placeholder="密码确认">
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                </span>
                                <input type="email" id="email" name="email" class="form-control" placeholder="邮箱">
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-xs-4 col-xs-offset-5">
                            <button type="submit" class="btn btn-sm btn-info">
                                注册
                            </button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </form>
            </div>

            <a href="#" class="go go-login">
                登录
            </a>
        </div>
    </div>
</div> -->
{% endblock %}

{% block script %}
<script src="{% static 'website/js/index.js' %}"></script>
{% endblock %}
