{% extends "website/base_project.html" %}

{% load staticfiles %}


{% block subposition %}
>> <i class="fa fa-list-alt"></i> 项目介绍
{% endblock %}

{% block main-content %}
<h2 class="page-header">项目基本信息</h2>
<table class="table w50">
    <tbody>
        <tr>
            <td> <b>项目名：</b> {{ project.name }}</td>
        </tr>
        <tr>
            <td> <b>创建时间：</b> {{ project.create_time }}</td>
        </tr>
        <tr>
            <td> <b>项目说明：</b> {{ project.desc }}</td>
        </tr>
        <tr>
            <td><b>项目成员：</b>
            <p>
            {% for member in members %}
                {{ member.username }}
            {% endfor %}
            </p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/project_intro.js' %}"></script>
{% endblock %}
