{% extends "website/base_project.html" %}

{% load staticfiles %}


{% block main-content %}
    <div class="baseInfo center-style">
        <a class="base btn-prim">基本信息</a>
        <a class="operator">操作</a>

    </div>
    <div class="volumeInfo">
        <table class="table w50">
            <thead>
            <tr style="text-indent: 20px">
                <th>基本信息</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody class="border">
            <tr style="text-indent: 20px">
                <td>名称：test</td>
                <td>运行状态：运行中</td>
            </tr>
            <tr style="text-indent: 20px">
                <td>大小：256M</td>
                <td>使用量：100M</td>
            </tr>
            <tr style="text-indent: 20px">
                <td>挂载点：/usr/local/wss</td>
                <td>关键字描述：应用日志下载</td>
            </tr>
            </tbody>
            </table>
        </div>
    <div class="capacity-exchange col-sm-offset-10">
        <a class="btn btn-primary btn-danger" href="#">格式化</a>
        <a class="btn btn-primary btn-info" href="#">扩容缩容</a>
    </div>
    <div class="operatorInfo">
        <div class="caption">
            <a id="refreshBackup" class="btn btn-primary" style="font-size: 18px;">
                <i class="fa fa-repeat"></i>
            </a>
            <a id="createNewBackup" class="btn btn-success"style="font-size: 18px;" >
                <i class="fa fa-download"></i>

                <span>导出文件</span>
            </a>
            <a id="loadupBackup" class="btn btn-primary push-volume"style="font-size: 18px;" >
                <i class="fa fa-upload"></i>
                <span>导入文件</span>
            </a>
            <input type="hidden"  id="phone" value="15521037681">

        </div>
        <table class="table w50">
             <thead style="background: #f5f5f5">
    <tr style="height: 45px">
            <th style="width:15%">文件名称</th>
            <th style="width: 15%">类型</th>
            <th style="width: 15%">运行状态</th>
            <th style="width: 15%">挂载容器</th>
            <th style="width: 20%">创建时间</th>
            <th style="width: 15%">操作</th>

    </tr>
</thead>
            <tbody id="db-backups">
            <tr class="show-tr">
                <td>
                    <div class="content-table">
                        <p style="text-indent: 20px;">
                        <i>无记录</i>
                        </p>
                    </div>
                </td>
            </tr>


            </tbody>

        </table>

    </div>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/volume.js' %}"></script>
{% endblock %}
