{% extends "website/base_project.html" %}

{% load staticfiles %}

{% block subposition %}
>> <i class="fa fa-floppy-o"></i> 存储卷
{% endblock %}

{% block main-content %}
<!-- Volume lists -->
<h2 class="page-header">存储卷列表</h2>
<div class="table-responsive resource-lists">
    <table class="table">
        <thead>
            <tr>
                <th>卷名称</th>
                <th>简介</th>
                <th>容量</th>
                <th>状态</th>
                <th>使用状态</th>
                <th>创建时间</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for volume in volumes %}
            <tr onclick="show_volume(this);">
                <input type="hidden" name="id" value="{{ volume.id }}">
                <td>{{ volume.name }}</td>
                <td>{{ volume.desc|truncatechars:20 }}</td>
                <td>{{ volume.capacity }}{{ volume.capacity_unit }}</td>
                <td>{{ volume.status }}</td>
                {% if volume.app %}
                <td>使用中</td>
                {% else %}
                <td>空闲</td>
                {% endif %}
                <td>{{ volume.create_time }}</td>
                <td>
                    <form action="{% url 'delete-volume' pid=project.id vid=volume.id %}" method="get">
                        <button class="btn btn-xs btn-danger">删除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/volume.js' %}"></script>
{% endblock %}
