{% extends "website/base_project.html" %}

{% load staticfiles %}

{% block subposition %}
>> <a href="{% url 'list-volumes' pid=project.id %}"><i class="fa fa-floppy-o"></i>卷空间</a>
{% endblock %}

{% block main-content %}
<div class="caption dropdown">
            <a id="refreshDB"><i class="fa_s"></i></a>
            <div id='volumeBtnGroup' class="caption">
            <a class="btn create" id="createVolume" data-toggle="modal" data-target="#modalCrealRoll" style="background-color: #5bc0de "><i class="fa fa-archive"></i> <span>创建</span></a>
            <a class="btn create" style="background: #d9534f;" id="removeVolume" disabled="disabled"><i class="fa fa-trash"></i> <span>删除</span></a>
            </div>
         </div>
        <div class="volume-create notshow">
          <form action ="#" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="volumeName" class="col-sm-2 control-label">存储卷名称 </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="volumeName" name="volumeName" placeholder="存储卷名称">
            </div>
          </div>

          <div class="form-group">
            <label for="capacity" class="col-sm-2 control-label">存储空间</label>
            <div class="col-sm-6">
               <select class="form-control">
                  <option value="0">125M</option>
                  <option value="1">256M</option>
                   <option value="1">512M</option>
                </select>
            </div>
          </div>
              <div class="form-group">
            <label for="description" class="col-sm-2 control-label">存储卷描述 </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="description" name="description" placeholder="存储卷描述">
            </div>
              </div>

          <div class="form-group last-btns">
            <div class="col-sm-1 col-sm-offset-2">
              <button type="submit" class="btn btn-info"> 确定 </button>
            </div>
          </div>
        </form>
<hr>
       </div>

         <div class="volume" style="display: block;">
            <table class="table w50">

            <thead>
                <tr>
                        <th style="text-indent: 30px width:5%"><input id="checkall" type="checkbox"></th>
                        <th style="width: 15%">名称</th>
                        <th style="width: 15%">使用状态</th>
                        <th style="width: 10%">格式</th>
                        <th style="width: 20%">挂载点</th>
                        <th style="width: 15%">大小</th>
                        <th style="width: 15%">创建时间</th>
                        <th style="width:15%">功能</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th style="text-indent: 30px width:5%"><input id="checkall" type="checkbox"></th>
                <th>test_01</th>
                <th>未使用</th>
                <th>ex4</th>
                <th>/usr/local/wss</th>
                <th>256M</th>
                <th>一天前</th>
                <th><button class="btn btn-xs btn-info">编辑</button></th>
            </tr>

            </tbody>
                </table>
             </div>
{% endblock %}


{% block script %}
<script src="{% static 'website/js/volume.js' %}"></script>
{% endblock %}
