{% extends "website/base_project.html" %}

{% load staticfiles %}

{% block subposition %}
>> <a href="{% url 'list-volumes' pid=project.id %}"><i class="fa fa-floppy-o"></i> 存储卷</a>
>> {{ volume.name }}
{% endblock %}

{% block main-content %}
<h2 class="page-header">基本信息</h2>
<table class="table w50">
    <tbody>
        <tr>
            <td colspan="2"> <b>卷名：</b> {{ volume.name }}</td>
        </tr>
        <tr>
            <td> <b>创建用户：</b> {{ volume.user }}</td>
            <td> <b>容量：</b> {{ volume.capacity }}{{ volume.capacity_unit }}</td>
        </tr>
        <tr>
            {% if volume.app %}
                <td> <b>使用状态：</b> 使用中</td>
                <td> <b>挂载到应用：</b> <a href="{% url 'show-application-detail' pid=project.id aid=volume.app %}">{{ app_name }}</a></td>
            {% else %}
                <td colspan="2"> <b>使用状态：</b> 空闲</td>
            {% endif %}
        </tr>
        <tr>
            <td> <b>状态：</b> {{ volume.status }}</td>
            <td> <b>创建时间：</b> {{ volume.create_time }}</td>
        </tr>
        <tr>
            <td colspan="2"> <b>简介：</b> {{ volume.desc }}</td>
        </tr>
    </tbody>
</table>

<hr>

<h2 class="page-header">格式化</h2>
<div class="volume-clear">
    <a class="btn btn-success clear">
        <i class="fa fa-repeat"></i>
        <span>格式化</span>
    </a>
    <p class="submit-notice"></p>
</div>
<hr>

<h2 class="page-header">导入数据</h2>
<div class="volume-upload">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-8">
                <div class="col-sm-8">
                    <input type="file" class='form-control fileupload' name="file" data-url="{% url 'upload-volume' pid=project.id vid=volume.id %}">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-success upload">
                        <i class="fa fa-upload"></i>
                        <span>导 入</span>
                    </a>
                    <p class="submit-notice"></p>
                </div>
            </div>
        </div>
    </form>
</div>
<hr>

<h2 class="page-header">导出数据</h2>
<div class="volume-download">
    <a class="btn btn-success download" href="{% url 'download-volume' pid=project.id vid=volume.id %}">
        <i class="fa fa-download"></i>
        <span>导 出</span>
    </a>
</div>

<hr>

<h2 class="page-header">扩容缩容</h2>
<p>开发中...</p>

<!--
    <div class="capacity-exchange col-sm-offset-10">
        <a class="btn btn-primary btn-danger" href="#">格式化</a>
        <a class="btn btn-primary btn-info" href="#">扩容缩容</a>
    </div>
    <div class="operatorInfo">
        <div class="caption">
            <a id="refreshBackup" class="btn btn-primary" style="font-size: 18px;">
                <i class="fa fa-repeat"></i>
            </a>
            <a id="createNewBackup" class="btn btn-success"style="font-size: 18px;" >
                <i class="fa fa-download"></i>

                <span>导出文件</span>
            </a>
            <a id="loadupBackup" class="btn btn-primary push-volume"style="font-size: 18px;" >
                <i class="fa fa-upload"></i>
                <span>导入文件</span>
            </a>
            <input type="hidden"  id="phone" value="15521037681">

        </div>

    </div> -->
{% endblock %}


{% block script %}
<script src="{% static 'website/js/volume.js' %}"></script>
{% endblock %}
