/*
 * header nav
 * ----------------------------------
 */



/*
 * sidebar
 * ----------------------------------
 */
.sidebar-offcanvas {
    position: fixed;
    width: 7%;
    height: 100%;
    background-color: #101010;
}
.nav-sidebar {
    background-color: #101010;
    height: 100%;
}
.nav-sidebar > li > a {
    text-align: center;
}
.nav-sidebar > .active > a {
    color: #2A6496;
    background-color: #EEEEEE;
}


/*
 * Login and registry box
 * ----------------------------------
 */
.notshow{
    display: none;
}
.center-box {
    position: absolute;
    top: 150px;
    width: 100%;
}
.box-body {
    z-index: 100;
    background-color: #eee;
    border-radius: 5px;
    padding-bottom: 10px;
}
.common-title {
    color:white;
    background-color: #39b3d7;
    padding: 8px 1px;
}
.common-content {
    margin-top: 40px;
}
.menu-m-box {
    width: 400%;
    z-index: 100;
    background-color: white;
}
.menu-s-box {
    width: 200%;
    z-index: 100;
    background-color: white;
}
.set-width {
    width: 30%;
    margin-left: 35%;
}
.go {
    margin-left: 2em;
}


/*
 * main framework
 * ----------------------------------
 */
body {
    padding-top: 50px;
    background-color: #f5f5f5;
    font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,"宋体","Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.container-content {
    margin-top: 5px;
    margin-bottom: 50px;
    padding-left: 9%;
    padding-right: 3%;
}
@media (min-width: 768px) {
    .main {
    background-color: white;
    padding-top: 20px;
    padding-right: 15%;
    padding-left: 10%;
    padding-bottom: 100px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * position navigation
 * ----------------------------------------
 */
.position-nav {
    font-size: 1.5em;
    margin-top: 20px;
}
.position-nav > a {
    text-decoration: none;
}


/*
 * table
 * ----------------------------------------
 */
.resource-lists > .table > thead {
    background: #e4eaec;

}
.resource-lists > .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}
.resource-lists > .table > tbody > tr {
    border-bottom: 1px solid #888;
    height: 60px;
}
.resource-lists > .table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}
.resource-lists > .table > tbody > tr:hover {
    background: #C0C0C0;
    border-left border-right: 1px solid #000;
}

.volumeInfo > .table {
    margin: 0px;
    background: #fff;
}
.volumeInfo > .table > .border > td {
    border: 1px solid #eee;
}
.volumeInfo > .border > tr {
    height: 30px;
    border-top: 1px solid #DDDDDD;
}


/*
 * image page
 * ----------------------------------------
 */
.createPort {
    height: 30px;
    text-align: center;
    color: #3f8ec3;
    line-height: 30px;
    background-color: #e4eaec;
}
.baseInfo {
    height: 60px;
    line-height: 60px;
    border: 1px solid #DDDDDD;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.center-style {
    width: 98%;
    margin: 30px auto;
}
.baseInfo a {
    width: 110px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    height: 100%;
}
.btn-prim {
    background: #3C7BCA !important;
    color: #fff !important;
}
.containerInfo, .backupsInfo {
    overflow: hidden;
    width: 98%;
    margin-left: 1%;
    min-height: 200px;
    background: #fff;
}


/*
 * volume page
 * ----------------------------------------
 */
.baseInfo a {
    width: 110px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    height: 100%;
}
.caption {
    padding-top: 10px;
    height: 50px;
}
.caption > a {
    color: #fff;
    height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    float: left;
    margin: 20px 6px 20px 0;
    cursor: pointer;
}
.operatorInfo {
    padding: 0 25px 20px ;
    overflow: hidden;
    width: 98%;
    margin-left: 1%;
}


/*
 * footer
 * ----------------------------------------
 */
footer{
    height: 35px;
    width: 100%;
    background-color: #666;
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}
.main-footer {
    margin-top: 10px;
    color:white;
}
.main-footer>h4 {
    color:white;
}
